*{
    margin:20px auto;
}
body{
    display: grid;
background-color: rgb(255, 248, 231);
color: rgb(50, 48, 42);
width: 1100px;
margin:  auto ;
/* border: 1px solid black; */

/* position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
}
.title{
    display: block;
    text-align: center;
}
.main_wrapper{
    display: block;
    align-content: center;
}
.correlated-items{
     /* display: flexbox;
    flex-direction: column;
    flex-flow: row; */
    display: grid; 
    grid-auto-flow: column;
     grid-auto-columns: 2fr; 
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    /* border: 1px solid black; */
    /* justify-items: center; */

    
}
    
    
/* .grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 0.8fr;
  } */
.correlated-items p{
    display: flexbox;
    flex-direction: column;
    /* align-self:auto; */
    margin: 1px;
    text-align: center;
    padding: 15px;

}
.p2{
    text-align: center;
    border: 0.6px solid black;
    padding: 30px;
}